*

!.gitignore
!.gitattributes
!mods
!mods/**
!config
!config/**
!kubejs/
!kubejs/**
!datapacks
!datapacks/**
!resourcepacks/
!resourcepacks/**
!shaderpacks/
!shaderpacks/**
!options.txt

config/spark/
!config/spark/config.json

*.disabled
mods/unpacked/
resourcepacks/unpacked/

.DS_Store
mods/.connector/
